.task-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  margin-top: 28px;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priority {
  width: 36px;
  height: 23px;
  border-radius: 4px;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #d58d49;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots {
  font-family: Inter;
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -7%;
  color: #0d062d;
}

.task-title {
  margin-top: 8px;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0d062d;
}

.task-description {
  margin-top: 8px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #787486;
}

.group-container {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar-icon {
  width: 63px;
  height: 24px;
}

.numbers-container {
  display: flex;
  align-items: center;
}

.num-container {
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.message-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.message-count {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #787486;
}
